/* app.css */
html {
    scroll-behavior: smooth;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modalIn {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.2);
    transition:
        transform 0.5s ease,
        opacity 0.5s ease,
        visibility 0.5s ease;
}

.modalOut {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition:
        transform 0.5s ease,
        opacity 0.5s ease,
        visibility 0.5s ease;
}
